 @import url('https://fonts.googleapis.com/css?family=Rajdhani');


html,body,.container-table{
	height: 100%;
	font-family: 'Rajdhani', sans-serif;
	font-size: 130%;
	font-weight: bold !important;
	background: linear-gradient(to right, #1F1C2C,#928DAB);
}
#count{
	margin:2%;
	border: 1px solid grey;
	padding-right: 2%;
	padding: 2%; 
	background: linear-gradient(to right, #000000, #434343);
	color: white;
}
#start,#reset,#strict{
	color: black !important;
	font-weight: bold;
	font-size: 100%;
}
.row{
	margin:4%;
}
.one{
	background-color: #f5af19;
}
.two{
	background-color: #20BDFF;
}
.three{
	background-color: #DA4453;
}
.four{
	background-color: #45B649;
}
.activeGreen{
	background-color: #f12711 !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;
}

.activeRed{
	background-color: #89216B !important;
	box-shadow: 1px 1px 12px 2px black !important; 
	transition: all 0.2s;
}

.activeBlue{
	background-color: #5433FF !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;
}

.activeYellow{
	background-color: #0f9b0f !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;
}
.one:active{
	background-color: #f12711 !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;	
}
.two:active{
	background-color: #5433FF !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;	
}
.three:active{
	background-color: #89216B !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;	
}
.four:active{
	background-color: #0f9b0f !important;
	box-shadow: 1px 1px 12px 2px black !important;
	transition: all 0.2s;	
}
#start,#reset{
	background: linear-gradient(to right, #D3CCE3,#E9E4F0);
	transition: all 0.5s;
}
.startClass{
	background: linear-gradient(to right, #CB356B,#BD3F32) !important;
}

#startlight{
	color: black !important;
	position: relative;
	top:-10px;

}
.one:disabled,.two:disabled,.three:disabled,.four:disabled{
	opacity: 1 !important;
}

.one,.two,.three,.four{
	width: 170px !important;
	height: 170px !important;
	border-radius: 50%;
	border: 1px solid black;

}
.rowone{
	margin-top:10%;
}
#count{
	box-shadow: 1px 1px 15px 1px black;
	border:1px solid black;
	}

.message{
	visibility: hidden;
	color: red !important;
z-index: -1;
}
.hidden{
	visibility: hidden;
}
.alerted{
	color: red !important;
}

/*---------------------------------------------*/
/*TOOLTIP TEX*/







/*---------------------------------------------*/

.switch{
  --uiSwitchSize: var(--switchSize, 64px);
  --uiSwitchBgColor: var(--switchBgColor, #f1f1f1);
  --uiSwitchBgColorActive: var(--switchBgColorActive, #CB356B);
  --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
  --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #43b556);
  --uiSwitchButtonBgColor: var(--switchButtonBgColor, #fff);  
  
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.switch__label{
  display: block;
  width: 100%;
  height: 100%;
}

.switch__toggle{
  width: 0;
  height: 0;
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
}

.switch__toggle:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorFocus);
}

.switch__toggle:checked:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorActive);
}

.switch__label:before, .switch__label:after{
  content: "";
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
}

.switch__label:before{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--uiSwitchBgColor);
}

.switch__label:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
}

/* type 1 */

.switch_type1{
  --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);
  
  width: var(--uiSwitchSize);
  height: calc((var(--uiSwitchSize) / 2));
  border-radius: var(--uiSwitchBorderRadius);    
  background-color: var(--uiSwitchBgColorActive);
}

.switch_type1 .switch__label{
  border-radius: var(--uiSwitchBorderRadius);    
}

.switch_type1 .switch__label:before{
  border-radius: var(--uiSwitchBorderRadius);
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

.switch_type1 .switch__toggle:checked ~ .switch__label:before{
  transform: scale(0);
  opacity: .7;
}

.switch_type1 .switch__label:after{
  width: calc(var(--uiSwitchSize) / 2);
  height: calc(var(--uiSwitchSize) / 2);
  transform: translate3d(0, -50%, 0);
  
  background-color: var(--uiSwitchButtonBgColor);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
}

.switch_type1 .switch__toggle:checked ~ .switch__label:after{
  transform: translate3d(100%, -50%, 0);
}
